* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: montserrat;
  display: grid;
  grid-template-rows: 2fr 0.5fr auto 0.5fr;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-areas: "header header header" "nav1 nav2 nav2" "main main main" "footer footer footer";
}

header {
  grid-area: header;
}

header .imgBanner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgNav {
  grid-area: nav1;
  display: flex;
  background-color: #1b1b1b;
  padding: 20px;
}

.imgNav img {
  width: 70%;
}

nav {
  grid-area: nav2;
  background-color: #1b1b1b;
  display: flex;
  justify-content: flex-end;
}

nav .menu {
  grid-area: nav2;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-right: 30px;
}

nav .menu li {
  padding: 20px 10px;
  justify-content: flex-end;
}

nav .menu a {
  text-decoration: none;
  color: white;
}

main {
  grid-area: main;
}

main h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin: 30px auto;
  padding: 20px;
}

main .mainTexto {
  padding: 30px;
  margin: 20px auto;
  line-height: 50px;
}

main .seccionProductos {
  display: flex;
  gap: 30px;
  margin: 30px;
}

main .seccionProductos .producto1 {
  margin: 5px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px;
}

main .seccionProductos .producto1 a img {
  width: 100%;
}

main .seccionProductos .producto1 .container {
  padding: 10px;
  width: 100%;
}

main .seccionProductos .producto1 .container .cardTitulo {
  padding: 5px;
}

main .seccionProductos .producto1 .container .cardTexto {
  line-height: 20px;
  padding: 5px;
}

main .seccionProductos .producto1 .producto1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main .seccionMapa {
  display: flex;
  padding: 30px;
}

main .seccionMapa .mapaContainer {
  width: 50%;
}

main .seccionMapa .mapaContainer .mapaTitulo {
  padding: 30px;
}

main .seccionMapa .mapaContainer .mapaTexto {
  padding: 30px;
  line-height: 40px;
}

footer {
  grid-area: footer;
  background-color: #1b1b1b;
  color: white;
}

footer .footerEdit {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
