main {
    grid-area: main;
    h1 {
        @include flex;
        justify-content: center;
        text-decoration: underline;
        margin: 30px auto;
    }
    .mainTexto {
        padding: 30px;
        margin: 20px auto;
        line-height: 50px;
    }
    .seccionProductos {
        display: flex;
        gap: 30px;
        margin: 30px;

            .producto1 {
                margin: 5px auto;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0,3s;
                padding: 30px;

            a {
                img{
                    width: 100%;
                }
            }
            .container {
                padding: 10px;
                width: 100%;
                .cardTitulo {
                    padding: 5px;
                }
                .cardTexto {
                    line-height: 20px;
                    padding: 5px;
                }
                }
            }
            .producto1:hover {
                box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
              }

    }
    .seccionMapa {
        @include flex;
        .mapaContainer {
            width: 50%;
            .mapaTitulo {
                padding: 30px;
            }
            .mapaTexto {
                padding: 30px;
                line-height: 40px;
            }

        }




    }

}